<form class="mt-4" method="POST" action="/courses/handle-actions">
    <div>
        <h3>Danh sách khóa học</h3>
        <a href="/me/trash/courses">Thùng rác ({{courseCount}})</a>
    </div>

    <div class="input-group mt-3 d-inline-flex">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input id="checkbox-all" type="checkbox" aria-label="Checkbox for following text input">

                <select name="action" class="custom-select mx-2" required>
                    <option selected value="">-- Hành động --</option>
                    <option value="delete">Xóa</option>
                </select>

                <button class="btn btn-primary disabled check-all-btn">Thực hiện</button>
            </div>
        </div>
    </div>

    <table class="table mt-4">
        <thead class=".table-light thead-light">
            <tr>
                <th scope="col" colspan="2" class="text-right">#</th>
                <th scope="col">Tên khoá học</th>
                <th scope="col">Video ID</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col" colspan="2"></th>
            </tr>
        </thead>
        <tbody>

            {{#each courses}}
            <tr>
                <td><input name="courseIds[]" value="{{this._id}}" type="checkbox"></td>
                <th class="text-right" scope="row">{{sum @index 1}}</th>
                <td><a href="/courses/{{this.slug}}">{{this.name}}</a></td>
                <td>{{this.videoId}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-outline-info">Sửa</a>
                </td>
                <td>
                    <a class="btn btn-outline-danger" data-toggle="modal" data-target="#delete-course-modal"
                        data-id="{{this._id}}">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Không có khóa học nào
                    <a href="/courses/create">Đăng khóa học</a>
                </td>
            </tr>
            {{/each}}

        </tbody>

    </table>
</form>

{{!-- Delete Course Modal --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá khóa học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc xóa khóa học này.</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete Course Form --}}
<form method="POST" name="delete-form"></form>

<script>
    let courseId
    const btnDeleteCourse = document.querySelector('#btn-delete-course')
    const formDelete = document.forms['delete-form']

    addEventListener('DOMContentLoaded', function () {
        const checkboxAll = $('#checkbox-all')
        const checkboxItem = $('input[name="courseIds[]"]')
        const checkAllBtn = $('.check-all-btn')

        // modal confirm show
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            courseId = button.data('id');
        })

        // btnDeleteCourse clicked
        btnDeleteCourse.onclick = (e) => {
            e.preventDefault()

            formDelete.action = `/courses/${courseId}?_method=DELETE`;
            formDelete.submit()
        }

        // checkboxAll change
        checkboxAll.change(() => {
            const isCheckedAll = checkboxAll.prop('checked')
            checkboxItem.prop('checked', isCheckedAll)

            renderCheckAllBtn(isCheckedAll)
        })

        // checkboxItem change
        checkboxItem.change(() => {
            const isChecked = $('input[name="courseIds[]"]:checked').length
            const isCheckedAll = isChecked === checkboxItem.length

            checkboxAll.prop('checked', isCheckedAll)
            renderCheckAllBtn(isChecked)
        })

        // Rerender checkAllBtn
        function renderCheckAllBtn(isChecked) {
            if (isChecked) {
                checkAllBtn.removeClass('disabled')
            } else {
                checkAllBtn.addClass('disabled')
            }
        }

        // checkAllBtn submit
        checkAllBtn.submit((e) => {
            if (checkAllBtn.hasClass('disabled')) {
                e.preventDefault()
            }
        })

    })

</script>